*.DS_Store
.pytest_cache/
*/env/
*.vscode/
/webscraper/vodadata/datafiles/AllEWGUtilities.txt
/webscraper/vodadata/datafiles/AllContaminants.txt
*.pyc
node_modules
*.idea
/webscraper/vodadata/datafiles/debugLog.txt
db.json