.popup
    width: 50%
    max-width: none!important

h2
    text-align: center
    font-weight: bold
    font-size: 40px
    line-height: 40%
    padding-bottom: 10px
    padding-top: 10px

h3
    font-size: 22px
    font-weight: bold


.list-group-item
    padding-bottom: 0
    padding-left: 0

.concerns 
    line-height: 120%

.value
    padding-top: 0

.full-width
    width: 100%

p
    font-size: 20px
    
.modal-body
    padding-top: 0px
    padding-right: 0px
    padding-left: 0px

td
    font-size: 20px

ul
    padding-left: 0px